<nav class="navbar navbar-default padding">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#">
        <img  class="image" src="https://www.athenahealth.com/sites/ahcom/themes/ah_theme/assets/images/logo-color.svg">
      </a>
      <!--<h1 class="dd">Medical Claim process</h1>-->
    </div>
    <p class="navbar-text navbar-right ">
      <a class=" links "  routerLink="home">
        Home
      </a>
      <a class="links  " routerLink="profile">
     profile
      </a>
      <a class="links  " routerLink="claim">
        Claim process
      </a>
    </p>
  </div>
</nav>
