.card-block { overflow-y: auto; };
.card-footer { background-color: #fff; border-top: 0 none; };
.nav-item { padding: 1rem 0; border-bottom: 0.5rem solid #ccc; color:  #5ca2f9; };  //#209e91
.active { font-weight: bold; color: black; border-bottom-color:  #5ca2f9 !important; };
.enabled { cursor: pointer; border-bottom-color: #bedafd; };//#bedafd   #80e5db;
.disabled { color: #ccc; };
[hidden] {
  display: none !important;
}


/*.nav-item {
  width: 100px !important;
}*/
/*
@media only screen and (max-width: 1460px) {

  .nav-item {
    width: 200px;
  }
}
@media only screen and (max-width: 1000px) {

  .nav-item {
    width: 180px;
  }
}
*/
.row {
  margin-right: 0;
  margin-left: 0;
}
.button {

}
