

<h1>hello</h1>

<!--
<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-heading">Claims</div>
    <div class="panel-body padding">

      <form [formGroup]="form" (ngSubmit)="onSubmit(form.value)" class="form-horizontal ">
        <div class="form-group row " [ngClass]="{'has-error': (!mid.valid && mid.touched), 'has-success': (mid.valid && mid.touched)}">
          <label for="inputName3" >MEMBER ID</label>
          <input formControlName="mid" type="text" class="form-control" id="inputName3"  (change)="onfunction2(form.value)" placeholder="Enter id"  >
        </div>
        &lt;!&ndash; <div *ngIf="valid2" class="color">{{data2}} not Found.</div>
   &ndash;&gt;

        <div class="form-group row " [ngClass]="{'has-error': (!fname.valid && fname.touched), 'has-success': (fname.valid && fname.touched)}">
          <label for="inputName4" >Full NAME</label>
          <input formControlName="fname" type="text"  class="form-control" (change)="onfunction1(form.value)" id="inputName4" placeholder="Enter First Name"  >
        </div>
        &lt;!&ndash;<div *ngIf="valid1" class="color">{{data1}} not there.</div>
  &ndash;&gt;




        <div class="form-group row" [ngClass]="{'has-error': (!pcode.valid && pcode.touched), 'has-success': (pcode.valid && pcode.touched)}">
          <label for="inputName6" >PROCEDURE CODES</label>
          <input formControlName="pcode" type="text"  class="form-control" (change)="onfunction(form.value)" id="inputName6" placeholder="Enter procedure codes"  >
        </div>
        &lt;!&ndash;<div *ngIf="valid" class="color">{{data}} not applicable.</div>
  &ndash;&gt;


        <div class="form-group row">
          <div class="offset-md-5 col-sm-10">
            <button  type="submit"   class="btn btn-primary">Submit</button>

          </div>

        </div>


      </form>


    </div>
  </div>
</div>

<div class="col-md-6">
  <div class="panel panel-success">
    <div class="panel-body details">
      <h3>Claims management and processing</h3>
      Unlike traditional medical billing software, our services are continuously updated. Plus, they’re backed by our patented Billing Rules EngineTM and a team of experts working on your behalf around the clock.
      <ul>
        <li>
          Our rules engine reviews all claims in real time, before they’re submitted — and immediately alerts you of known errors learned from previous denials across our entire client network
        </li>
        <li>Denials are continuously researched by our back office teams, with new rules are added daily to prevent these denials from happening again — over 40 million rules already established</li>
        <li>Ensure faster and cleaner claim submission with our 94% first-pass resolution rate and reduce your days in accounts receivable by 32%1</li>
      </ul>
    </div>
  </div>
</div>

-->
