
<!--[isValid]="emailForm.form.valid"-->
<!--
 (onNext)=""
onStep1Next($event)
-->


<div class=" col-md-9 card" xmlns="http://www.w3.org/1999/html">
  <div class="card-block">
   <!-- <h4 class="card-title"></h4>
    <h6 class="card-subtitle mb-2 text-muted">Card subtitle</h6>
-->


    <baWizzard>
     <baWizzardStep [title]="'Details'"  >  <!--[isValid]="form.valid"-->
       <form [formGroup]="form" #details="ngForm" (ngSubmit)="onSubmit(form.value)" >

         <div class="row margin">

           <div class="row margin">
           <div class="col-md-4" [ngStyle]="{'background-color': healthCareBackground? 'red' : 'white'}">
           <label for="healthCareClaimType">Health Care Claim Type Id</label>
           <input  type="text" class="form-control" id="healthCareClaimType" formControlName="healthCareClaimType" (change)="apicall(form.value);validationOfClaimType(form.value);claimControlStore(form.value);validationOfClaimType(form.value)">
           </div>

             <div class="col-md-4">
               <label for="claimFormat">Claim Format</label>
               <input formControlName="claimFormat"  type="text" class="form-control" id="claimFormat" (change)="apicall(form.value)">
             </div>
             <div class="col-md-4" [ngStyle]="{'background-color': statusBackground? 'red' : 'white'}">
               <label for="status">Status</label>
               <input formControlName="status" type="text" class="form-control" id="status" (change)="validationOfStatus(form.value)">
             </div>
           </div>
           <div class="row margin">

             <div class="col-md-4">
               <label for="created">Created Date</label>
               <input formControlName="created" type="date" class="form-control" id="created">
             </div>
             <div class="col-md-8">
               <label for="description">Description</label>
               <textarea formControlName="description" rows="1" cols="50" class="form-control" id="description"></textarea>
             </div>
           </div>
             <div class="row margin">
             <div class="col-md-4" >
               <label for="claimRuleCategory">Claim Rule Category</label>
               <input formControlName="claimRuleCategory" type="text" id="claimRuleCategory" class="form-control" (change)="claimRuleCategoryStore(form.value)">
             </div>
             </div>
         </div>
       </form>

  </baWizzardStep>
      <!-- onStep2Next($event)-->
      <baWizzardStep [title]="'Patient information'" >
    <form [formGroup]="form" #details="ngForm" (ngSubmit)="onSubmit(form.value)" >

      <div class="row margin">
         <div class="row">
        <div class="col-md-4">
         <label for="firstName">First Name</label>
          <input formControlName="firstName" type="text" id="firstName" class="form-control">
        </div>
        <div class="col-md-4">
          <label for="lastName">Last Name</label>
          <input type="text" id="lastName" formControlName="lastName" class="form-control" >
        </div>
         <div class="col-md-4">
           <label for="dateOfBirth">Date Of Birth</label>
           <input formControlName="dateOfBirth" type="date" id="dateOfBirth" class="form-control" (change)="dateOfBirthStore(form.value)">
         </div>
         </div>
        <div class="row panel margin">
          <div class="panel-default">
            <div class="panel-heading">Primary Insurance</div>
            <div class="row panel-body">
              <div class="col-md-3">
                <label for="memberId">Member Id</label>
                <input formControlName="memberId"  type="text" id="memberId" class="form-control">
              </div>
              <div class="col-md-3">
                <label for="claimRuleCategoryId">Claim Rule Category Id</label>
                <input formControlName="claimRuleCategoryId"  type="text" id="claimRuleCategoryId" class="form-control">
              </div>
              <div class="col-md-3">
                <label for="claimSubmissionCategoryId">Claim Submission Category Id</label>
                <input formControlName="claimSubmissionCategoryId"  type="text" id="claimSubmissionCategoryId" class="form-control">
              </div>
              <div class="col-md-3">
                <label for="insuranceReportingCategoryId">Insurance Reporting Category Id</label>
                <input formControlName="insuranceReportingCategoryId" type="text" id="insuranceReportingCategoryId" class="form-control" (change)="insuranceReportingCategoryIdStore(form.value)">
              </div>
            </div>
          </div>
        </div>
      </div>

         </form>
  </baWizzardStep>
  <!--onStep3Next($event)-->
  <baWizzardStep [title]="'Provider'" >

    <form [formGroup]="form" #details="ngForm" (ngSubmit)="onSubmit(form.value)">

      <div class="panel-group row margin">

        <div class="panel panel-default row margin">
          <div class="panel-heading">Rendering provider</div>
          <div class="panel-body">
            <div class="row margin">
            <div class="col-md-3">
              <label for="rpfirstName">First Name</label>
              <input formControlName="rpfirstName" type="text" id="rpfirstName" class="form-control" >
            </div>
            <div class="col-md-3">
              <label for="rplastName">Last Name</label>
              <input formControlName="rplastName" type="text" id="rplastName" class="form-control">
            </div>
            <div class="col-md-3">
              <label for="rnpi">Npi</label>
              <input formControlName="rnpi" type="text" id="rnpi" class="form-control">
            </div>
            <div class="col-md-3">
              <label for="rBilledName">Billed Name</label>
              <input formControlName="rBilledName" type="text" id="rBilledName" class="form-control" >
            </div>
            </div>
            <div class="row margin">
              <div class="col-md-6">
                <label for="rproviderType">Provider Type</label>
                <input formControlName="rproviderType" type="text" id="rproviderType" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="rMedicalNpi">Medical Npi</label>
                <input formControlName="rMedicalNpi" type="text" id="rMedicalNpi" class="form-control" (change)="rMedicalNpiStore(form.value)">
              </div>
            </div>
          </div>
        </div>
        <div class="panel panel-default row margin">
          <div class="panel-heading">Supervising Provider</div>
          <div class="panel-body">
            <div class="row margin">
              <div class="col-md-3">
                <label for="spfirstName">First Name</label>
                <input formControlName="spfirstName" type="text" id="spfirstName" class="form-control">
              </div>
              <div class="col-md-3">
                <label for="splastName">Last Name</label>
                <input formControlName="splastName" type="text" id="splastName" class="form-control">
              </div>
              <div class="col-md-3">
                <label for="snpi">Npi</label>
                <input formControlName="snpi" type="text" id="snpi" class="form-control">
              </div>
              <div class="col-md-3">
                <label for="sBilledName">Billed Name</label>
                <input formControlName="sBilledName" type="text" id="sBilledName" class="form-control">
              </div>
            </div>
            <div class="row margin">
              <div class="col-md-6">
                <label for="sproviderType">Provider Type</label>
                <input formControlName="sproviderType" type="text" id="sproviderType" class="form-control">
              </div>
              <div class="col-md-6">
                <label for="sMedicalNpi">Medical Npi</label>
                <input formControlName="sMedicalNpi" type="text" id="sMedicalNpi" class="form-control" (change)="sMedicalNpiStore(form.value)">
              </div>
            </div>
          </div>
        </div>
      </div>


    </form>
  </baWizzardStep>

 <!--(onComplete)="onComplete($event)" -->
  <baWizzardStep [title]="'Occurrence codes'">
    <form [formGroup]="form" #details="ngForm" (ngSubmit)="onSubmit(form.value)">

      <div class="panel margin">
        <div class="panel panel-default">
          <div class="panel-heading">Occurence Codes</div>
          <form [formGroup]="form" #details="ngForm" (ngSubmit)="onSubmit(form.value)" >
            <table class="table table-bordered table-hover" id="tab_logic" [ngStyle]="{'background-color': ocCodesFlag? 'red' : 'white'}">
              <thead>
              <tr>
                <th class="text-center">
                  Code
                </th>
                <th class="text-center">
                  Date
                </th>
                <th class="text-center">
                  Id
                </th>
              </tr>
              </thead>
              <tbody>
              <tr>
                <td>
                  <input type="text" id="code1" name='name0' value=" "  formControlName="code1" (change)="apicall(form.value);claimControlStore(form.value)"  placeholder='code' class="form-control"/>
                </td>
                <td>
                  <input type="date" id="date1" name='name0' value=" " formControlName="date1" (change)="apicall(form.value);claimControlStore(form.value)" placeholder='date' class="form-control"/>
                </td>
                <td>
                  <input type="text"  id="id1" name='name0'  value=" " formControlName="id1"   placeholder='id' class="form-control"/>
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" id="code2" formControlName="code2" name='name0' value="  " (change)="apicall(form.value);claimControlStore(form.value)" placeholder='code' class="form-control"/>
                </td>
                <td>
                  <input type="date" id="date2" formControlName="date2" name='name' value="  " (change)="apicall(form.value);claimControlStore(form.value)" placeholder='date' class="form-control"/>
                </td>
                <td>
                  <input type="text" id="id2" formControlName="id2" name='name0' value="  "  placeholder='id' class="form-control" />
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" id="code3" formControlName="code3" name='name0' value="   " (change)="apicall(form.value);claimControlStore(form.value)"  placeholder='code' class="form-control"/>
                </td>
                <td>
                  <input type="date" id="date3" formControlName="date3" name='name0' value="   " (change)="apicall(form.value);claimControlStore(form.value);" placeholder='date' class="form-control"/>
                </td>
                <td>
                  <input type="text" id="id3" formControlName="id3" name='name0' value="   "  placeholder='id' class="form-control" />
                </td>
              </tr>
              <tr>
                <td>
                  <input type="text" name='name0'  id="code4" formControlName="code4" value="    " (change)="apicall(form.value);claimControlStore(form.value);" placeholder='code' class="form-control"/>
                </td>
                <td>
                  <input type="date" name='name0' id="date4" formControlName="date4" value="    " (change)="apicall(form.value);claimControlStore(form.value);" placeholder='date' class="form-control"/>
                </td>
                <td>
                  <input type="text" name='name0'  id="id4" formControlName="id4" value="    "  placeholder='id' class="form-control"/>
                </td>
              </tr>
              <!--<tr id='addr1'></tr>-->
              </tbody>
            </table>
            <!--<a id="add_row"  class="btn btn-default pull-left btnmargin">+</a><a id='delete_row'  class=" btn btn-default btnmargin">-</a>-->

          </form>
        </div>
      </div>
    </form>
    <div class="button">
      <input type="button" value="submit" (click)="printSuccessMessage()">
      <div *ngIf="successFlag" class="msgcolor">Claim Created Successfully </div>
    </div>
  </baWizzardStep>
</baWizzard>
  </div>
</div>
