<!--
<div>
  <chat-page></chat-page>
</div>
-->
<div>
  <chat-nav-bar></chat-nav-bar>
  <div class="container-fluid">
    <!-- <chat-threads></chat-threads>-->

    <!--<a routerLink="home">Home</a>
    <a routerLink="claim">Claim</a>-->



<div class="col-md-12">
   <!-- <ul class="nav nav-tabs">
      <li class="active"><a routerLink="home">Home</a></li>
      <li><a routerLink="profile">Profile</a></li>
      <li><a routerLink="claim">Claim process</a></li>

    </ul>-->


  <router-outlet></router-outlet>
</div>


  <div class="col-md-3">
    <chat-window></chat-window>
</div>
  </div>
</div>

