

<div class="container target">
  <div class="row">
    <div class="col-sm-5">
      <h1 class="">Gopikrishna</h1>
      <button type="button" class="btn btn-success">Appoitments</button>  <button type="button" class="btn btn-info">Messages</button>
      <br>
    </div>
    <div class="col-sm-5 text">
      <table class="table">
        <thead>
        <tr>
          <th>Patients</th>
          <th>Claims</th>
          <th>Rating</th>
          <th>Ranking</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td>214</td>
          <td>155</td>
          <td>4.3</td>
          <td>6</td>
        </tr>
        </tbody>
      </table>
    </div>
    <div class="col-sm-2"><a href="/users" class="pull-right"><img title="profile image" class="img-circle img-responsive" src="http://www.rlsandbox.com/img/profile.jpg"></a>
    </div>
  </div>
  <br>
  <div class="row">
    <div class="col-sm-3">
      <!--left col-->
      <ul class="list-group">
        <li class="list-group-item text-muted" contenteditable="false">Profile</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Joined</strong></span> 2.13.2014</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Status</strong></span> Active</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Full name</strong></span> Gopikrishna</li>
        <!--<li class="list-group-item text-right"><span class="pull-left"><strong class="">Role: </strong>Orthopaedist</span> </li>-->
      </ul>
      <div class="panel panel-default">
        <div class="panel-heading"> Time to consult

        </div>
        <div class="panel-body"><i style="color:green" class="fa fa-check-square"></i> 10AM - 1PM & 2PM - 5:30PM

        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">Website <i class="fa fa-link fa-1x"></i>

        </div>
        <div class="panel-body"><a href="https://www.athenahealth.com" class="">Athena</a>

        </div>
      </div>

      <ul class="list-group">
        <li class="list-group-item text-muted">Activity <i class="fa fa-dashboard fa-1x"></i>

        </li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Patients visited</strong></span> 125</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Claims applied</strong></span> 95</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Rating</strong></span> 4.5</li>
        <li class="list-group-item text-right"><span class="pull-left"><strong class="">Overall Rank</strong></span> 6</li>
      </ul>
      <div class="panel panel-default">
        <div class="panel-heading">Social Media</div>
        <div class="panel-body">
          <a href="http://twitter.com/Bootply" rel="nofollow" title="Bootply on Twitter" target="ext">Twitter</a><br>
          <a href="https://plus.google.com/+Bootply" rel="publisher">Google+</a><br>
          <a href="http://facebook.com/Bootply" rel="nofollow" title="Bootply on Facebook" target="ext">Facebook</a><br>
          <a href="https://github.com/iatek/bootply" title="Bootply on GitHub" target="ext">GitHub</a><br>
        </div>
      </div>
    </div>
    <!--/col-3-->
    <div class="col-sm-9" style="" contenteditable="false">
      <div class="panel panel-default">
        <div class="panel-heading">Bio</div>
        <div class="panel-body"> Rather than a debilitating tragedy, neuroscientist Jill Bolte Tyler considered her stroke the perfect opportunity to research exactly how the brain works (and even repairs itself!) under such traumatic circumstances. This incredible memoir chronicles her bizarre, beautiful and beneficial experience transforming terrible physical and emotional pain into an influential learning experience.
        </div>
      </div>
      <div class="panel panel-default target">
        <div class="panel-heading" contenteditable="false">Address</div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="thumbnail">
                <img alt="300x200" src="https://static.pexels.com/photos/186077/pexels-photo-186077.jpeg">
                <div class="caption">
                  <h3>
                    Home
                  </h3>
                  <p>
                    HomeNo: 2/48, North Floria, USA
                  </p>
                  <p>

                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img alt="300x200" src="http://www.biovoicenews.com/wp-content/uploads/2016/11/Hospital.jpg">
                <div class="caption">
                  <h3>
                    Hosptial
                  </h3>
                  <p>
                    HomeNo: 1/5/45, North Florida, USA
                    <br>
                  </p>
                  <p>

                  </p>
                </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="thumbnail">
                <img alt="300x200" src="http://www.imps-corp.com/images/contact.png">
                <div class="caption">
                  <h3>
                    Contact
                  </h3>
                  <p>
                    Email: xyz123@gmail.com<br>
                    phone: 91-9999999999<br>
                    <br><br>
                  </p>
                  <p>

                  </p>
                </div>
              </div>

            </div>

          </div>

        </div>

      </div>
    </div>


    <div id="push"></div>
  </div>

</div>
