.image {
  height:100%;
  width:100%;
}
.card {
  height:500px;
  width:100%;
  background:#3E1052;
  background-image:url('https://www.athenahealth.com/sites/ahcom/files//network-bg-2x_1.png');
}
.service{
  height: auto;
  transition: height 2s ease;
}
.card-wrapper{
  width: 100%;
  margin: 0 auto;
  padding: 40px 10px;
  text-align: center;

}
.left {

  margin-bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  padding-top: 30px;
  padding-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
.divide {
  margin-bottom: 0px;
  width: 100%;
  box-sizing: border-box;
  border-left: 1px solid #fff;
  padding-top: 30px;
  padding-left:40px;
  padding-bottom: 30px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center;
}
.hero-card {
  font-family: "futura-pt-n4","futura-pt",sans-serif;
  font-style: normal;
  font-weight: 400;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-size: 17px;
  font-size: 1.7rem;
  line-height: 19px;
  line-height: 1.9rem;
  letter-spacing: 0;
  color: #fff;
  margin-top: 0;
  margin-bottom: 15px;
}
.divide ul li {
  color: #ffffff;
  font-weight: 400;
  text-align: left;
  line-height: 1.2em;
  margin-bottom: 0.6em;
  font-size: 20px;
  font-size: 2rem;
}
.divide ul li:before {
  content: "\002022";
  color: #799A3D;
  margin-left: -1.5em;
  padding-right: 0.5em;
}
.divide h3 {
  color: #b6bf34;
  font-size: 45px;
  margin-bottom: 15px;
  margin-top: 0px;
  text-align: left;
  text-transform: uppercase;
  font-weight: 800;
}
.divide ul {
  margin-left: 0.8em;
}
.img {
  height: 146px;
  width:406px;
}
.list {
  padding: 0;
  margin: 0;
  list-style: none;
  list-style-position: inside;
  color: #5B5B5B;
}
.slim-card {

  position: relative;
  overflow: hidden;
}
.background {
  background-color: #FFCD3A;
  padding-top: 20px;
  padding-bottom: 20px;
}

.card-content {
  max-width: 1024px;
  margin: 0 auto;
  display: block;
  z-index: 0;
  position: relative;
}

.card-txt {
  display: inline-block;
  vertical-align: middle;
  width: 50%;
  padding: 20px 3% 20px 6%;
  box-sizing: border-box;
}
.txt-color {
  color:#3b1350;
}
.abc  p {
  color: #3b1350;
  font-family: "futura-pt-n4", "futura-pt", sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0;
}
.icon {
  display: inline-block;
  vertical-align: middle;
  width: 20%;
}
.icon-wrap {
  margin: 5px auto;
  text-align: center;
}
.icon-wrap .img {
  max-width: 150px;
  width: 100%;
  padding: 5% 0;
}
.slim-image {
  height:150px;
  width:169.92px;
}

.slim-btn {
  display: inline-block;
  vertical-align: middle;
  width: 29%;
  text-align: center;
  padding: 3% 0px;
}
.btn {
  background-color: #592C81;
  margin: 0px 35px;
  display: block;
height:56px;
  width:226.95px;

  overflow: hidden;
  box-sizing: border-box;
  padding:20px;
  border-radius: 7px;
  font-family: "ff-mark-web-n6","ff-mark-web",sans-serif;
  font-style: normal;
  font-weight: 600;
  -webkit-font-smoothing: antialiased;
  text-decoration: none !important;
  color:white;
}

.col-md-12 {
  padding-left: 0;
  padding-right: 0;
}
